body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "he he he he"
    "sb ar ar ar"
    "ft ft ft ft";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background: #f0f0f0;
    max-width: 960px;
    height: 100%;
    margin: auto;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
    grid-area: he;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
}

.title {
    line-height: 35px;
    margin-left: 10px;
}

li {
    display: inline;
    margin-right: 20px;
    line-height: 50px;
}

li:hover {
    text-decoration: underline;
}

aside {
    grid-area: sb;
    background: #fff;
    padding: 10px 10px;
    margin: 10px 10px;
    height: 560px;
    border-radius: 5px;
    border: 1px solid #d9d9d9
}

.avatar-image {
    background-image: url('images/avatar.png');
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: auto;
}

figure{
    margin: 0px;
}

.sidebar-text{
    font-size: 0.9em;
}

section {
    grid-area: ar;
}

article {
    background: #fff;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 150px 30px;
    grid-template-areas:
    "tt tt tt tt"
    "img ct ct ct"
    "bt bt bt bt";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.article-button {
    grid-area: bt;
    background: #5f2d9c;
    color: #fff;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 0.8em;
}

.article-button:hover {
    font-weight: bold;
}

.article-title {
    grid-area: tt;
    margin-top: 15px;
}

.article-content {
    grid-area: ct;
    color: #333;
}

.article-image {
    grid-area: img;
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 5px;
}

.img1 {
    background-image: url('images/article_image1.jpg');
}

.img2 {
    background-image: url('images/article_image2.jpg');
}

.img3 {
    background-image: url('images/article_image3.jpg');
}

.img4 {
    background-image: url('images/article_image4.jpeg');
}

.full-blog-post {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 440px auto;
    grid-template-areas:
    "img img img img"
    "he he he he"
    "tt tt tt tt"
    "ct ct ct ct"
    "sc sc sc sc"
    "bt bt bt bt";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

figcaption {
    font-size: 0.8em;
    color:#333
}

.fbp-header {
    grid-area: he;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
}

.article-info-text{
    font-weight: bold;
}

.fbp-title {
    text-align: center;
}

.article-info {
    font-size: 0.9em;
}

.fbp-image {
    grid-area: img;
    width: 100%;
    height: 400px;
    background-position: center;
}

.social-share-buttons {
    grid-area: sc;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.fa {
    font-size: 16px;
    display: inline-block;
    width: 150px;
    height: 30px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

.fa:hover {
    opacity: 0.8;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #4875B4;
    color: white;
}

footer {
    grid-area: ft;
    background-color: #fff;
    width: 100%;
}

.fbp-content {
    padding-left: 10%;
    padding-right: 10%;
}

.fbp-button {
    margin: auto;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {

    article {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px 150px 1fr 30px;
        grid-template-areas:
        "tt tt tt tt"
        "img img img img"
        "ct ct ct ct"
        "bt bt bt bt";
    }

    body {
        min-width: 320px;
        grid-template-areas:
        "he he he he"
        "ar ar ar ar"
        "sb sb sb sb"
        "ft ft ft ft";
    }

    aside {
        text-align: center;
    }

    .article-image {
        width: 100%;
        background-position: center;
    }

    .article-button {
        width: 250px;
        margin: auto;
    }

    .fa {
        height: 40px;
        line-height: 40px;
    }
}

@media (max-width: 440px) {

    body {
        grid-template-rows: auto;
    }

    header {
        flex-flow: column wrap;
        justify-content: center;
    }

    li {
        display: block;
        text-align: center;
        border-bottom: 1px solid #333;
    }

    li:first-child {
        border-top: 1px solid #333;
    }

    .title {
        text-align: center;
    }

    .social-share-buttons{
        flex-flow: column wrap;
    }

    .fa {
        margin: auto;
        margin-top: 10px;
    }

    .footer-ul {
        width: 100%;
    }
}