body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px auto;
    grid-template-areas:
    "he he he he"
    "sb ar ar ar"
    "ft ft ft ft";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: #f0f0f0;
    max-width: 960px;
    margin: auto;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

header{
    grid-area: he;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
}

.title{
    line-height: 35px;
    margin-left: 10px;
}

li {
    display: inline;
    margin-right: 20px;
    line-height: 50px;
}

li:hover{
    text-decoration: underline;
}

aside{
    grid-area: sb;
    background-color: #fff;
    padding: 10px 10px;
    margin: 10px 5px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid #d9d9d9
}

.aside_image {
    background-image: url('images/avatar.png');
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

section{
    grid-area: ar;
}

article {
    background-color: #fff;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 150px 30px;
    grid-template-areas:
    "tt tt tt tt"
    "img ct ct ct"
    "bt bt bt bt";
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

.article_button {
    grid-area: bt;
    background-color:  #5f2d9c;
    color: #fff;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 0.8em;
}

.article_button:hover{
    font-weight: bold;
}

.article_title{
    grid-area: tt;
    margin-top: 15px;
}

.article_content{
    grid-area: ct;
    color: #333;
}

.article_image{
    grid-area: img;
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 5px;
}

.img1{
    background-image: url('images/article_image1.jpg');
}

.img2{
    background-image: url('images/article_image2.jpg');
}

.img3{
    background-image: url('images/article_image3.jpg');
}

.img4{
    background-image: url('images/article_image4.jpeg');
}

.full-blog-post{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 50px repeat(2, 1fr);
    grid-template-areas:
    "img img img img"
    "tt tt tt tt"
    "ct ct ct ct"
    "sh sh sh sh"
    "bt bt bt bt";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 850px;
}

.fbp-image{
    grid-area: img;
    width: 100%;
    height: 400px;
}

footer{
    grid-area: ft;
}
