<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../src/styles/app.css">
    <title>Document</title>
</head>
<body>
    <section id="intro-modal">
        <h1>Plan your trip</h1>
        <form>
            <label for="place">Where to?</label>
            <input type="text" name="place" id="place">
            <label for="date">When?</label>
            <input type="date" id="datee">
        </form>
        <button id='submit'>Submit</button>
    </section>
    <section>
        https://coolors.co/e5d9f2-f5efff-cdc1ff-a594f9-7371fc
    </section>
    <script>
        const submit = document.getElementById('submit')
        submit.addEventListener('click', () => {
            let el1 = document.getElementById("datee");
            console.log(el1.value)
            let element = document.getElementById("intro-modal");
            element.parentNode.removeChild(element);
        })
    </script>
</body>
</html>