//1020
@media only screen and (max-width: 1020px) {
    #images .image-placeholder {
        margin: auto;
        margin-top: 10px;
    }

    #forecast-placeholder {
        overflow-x: auto;
    }

    .forecast-element {
        width: 150px;
    }
}


@media only screen and (max-width: 700px) {
    #head {
        flex-direction: column;
    }

    #head select {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 400px) {
    #todo-input {
        width: 100%;
    }
  }