#todo {
    width: 100%;
}

#todo input {
    width: 300px;
    height: 20px;
    padding: 10px;
    display: inline-block;
}

#todo button {
    width: 100px;
    height: 44px;
    color: #fff;
    background-color: #7371FC;
    border: none;
}